[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/pyflakes-pathogen"]
	path = bundle/pyflakes-pathogen
	url = https://github.com/mitechie/pyflakes-pathogen.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/pydoc"]
	path = bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim
[submodule "bundle/easy-motion"]
	path = bundle/easy-motion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "bundle/rainbow_parentheses"]
	path = bundle/rainbow_parentheses
	url = https://github.com/kien/rainbow_parentheses.vim
[submodule "bundle/speeddating"]
	path = bundle/speeddating
	url = https://github.com/tpope/vim-speeddating
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honzas/vim-snippets.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate
[submodule "bundle/vim-jade"]
	path = bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade
